.header{
  padding: 20px 3px;

}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.list_header{
display: flex;
gap: 28px;
}

.link_header{
color: #FCFCFC;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.link_header:hover,
.link_header:focus{
color: #F8D24E;
}

.button_header{
border: none;
width: 152px;
height: 42px;
flex-shrink: 0;
border-radius: 10px;
background: #F8D24E;
color: #000;
text-align: center;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.button_header:hover,
.button_header:focus {
background-color: #ad9025;
color: #FCFCFC;
}

.logo_menu{
    display: flex;
}

.ce{
    margin-top: 42px;
    margin-left: -5px;
}
