.products{
    width: 1495px;
    height: 1100px;
    background-image: url(../images/Frame\ 403.jpg);
    margin-top: 76px;
}

.text_products{
    padding-top: 60px;
}

.paragraph_products{
    color: #131313;
text-align: center;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 1.2px;
text-transform: uppercase;
}

.title_products{
    color: #131313;
text-align: center;
font-family: Seymour One;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 2.16px;
text-transform: uppercase;
margin-top: -5px;
}

.cards{
    display: flex;
    width: 1168px;
height: 719px;
flex-shrink: 0;
margin-left: auto;
    margin-right: auto;
    margin-top: 274px;
}

.card_one{
    width: 370px;
height: 536px;
flex-shrink: 0;
border-radius: 24px;
background: #AEC6A5;
box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);

}

.card_two{
    width: 370px;
height: 536px;
flex-shrink: 0;
border-radius: 24px;
background: #EFD478;
}

.card_three{
    width: 370px;
height: 536px;
flex-shrink: 0;
border-radius: 24px;
background: #D6936D;
}

.food_cards{
    color: #131313;
text-align: center;
font-family: Montserrat;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.2px;
text-transform: uppercase;
}

.compound_cards{
    width: 246px;
height: 142px;
flex-shrink: 0;
color: #131313;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 176%; /* 28.16px */
letter-spacing: 0.64px;
padding-top: 60px;
margin-left: 61px;
}

.list_cards{
    display: flex;
}

.link_cards{
    margin-left: 29px;
}

.instruction_cards{
    padding-top: 165px;
}

.circle{
    position: absolute;
    margin-left: 34px;
    margin-top: -327px;
    border-radius: 302px;
    padding-bottom: 20px;
    box-shadow: 0px 8px 30px 0px rgba(153, 114, 23, 0.25);
}
